@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.App {
  text-align: center;

  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;

    // QUOTE-BOX //

    #quote-box {
      background-color: #fff;
      width: 25%;
      border-radius: 3px;
      padding: 35px 100px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 48px 100px 0px;

      @media only screen and (max-width: 1300px) {
        padding: 25px 75px;
      }
      @media only screen and (max-width: 1000px) {
        width: 45%;
        padding: 25px 55px;
      }
      @media only screen and (max-width: 500px) {
        width: 55%;
        padding: 25px 25px;
      }

      #quote-icon {
        font-size: 25px;
        opacity: 0.5;
      }

      #text,
      #author {
        letter-spacing: 0.2px;
      }

      #text {
        font-size: 28px;
        font-weight: 400;
        line-height: 1.3;

        @media only screen and (max-width: 1300px) {
          font-size: 24px;
        }
        @media only screen and (max-width: 500px) {
          font-size: 18px;
        }
      }

      #author {
        font-size: 14px;
        font-weight: 300;
        text-align: right;
      }

      #new-quote,
      #tweet-quote {
        display: none;
      }
    }

    // LINKS TWITTER AND NEW //

    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;
      width: calc(25% + 200px);

      @media only screen and (max-width: 1300px) {
        width: calc(25% + 150px);
      }
      @media only screen and (max-width: 1000px) {
        width: calc(45% + 110px);
      }
      @media only screen and (max-width: 500px) {
        width: calc(55% + 50px);
      }

      .new-quote,
      .tweet-quote {
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        transition: transform 0.3s;
      }

      .new-quote:hover,
      .tweet-quote:hover {
        transform: scale(1.025);
      }

      .new-quote {
        order: 2;
        font-family: "Poppins", sans-serif;
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        border: none;
        padding: 12px 15px;
      }

      .tweet-quote {
        order: 1;
        font-size: 20px;
        padding: 5px 10px;
      }
    }
  }
}
